
  <div class="container card">
  <div class="card-header">
    <h3 class="panel-title">Mortgage Calculator</h3>
  </div>
<form class="form-horizontal" [formGroup]="MortgageFrom" (ngSubmit)="CalculateMortgage()">
  <div class="card-body">
    <div >
      <div class="form-group">
        <label class="col-sm-2 control-label" for="loanAmt">Loan Amount</label>
        <div class="col-sm-8">
          <input id="loanAmt" type="text" class="form-control" formControlName="loanAmt">
          <span class="text-danger"
          *ngIf="MortgageFrom.get('loanAmt').touched  && MortgageFrom.get('loanAmt').errors?.required">
          Enter Loan Amount
      </span>
      <span class="text-danger"
      *ngIf="MortgageFrom.get('loanAmt').errors?.pattern">
      Enter valid Loan Amount ( numbers only)
  </span>
        </div>
      </div>
      <div class="form-group">
          <label class="col-sm-2 control-label" for="downAmt">Down Payment</label>
          <div class="col-sm-8">
            <input id="downAmt" type="text" class="form-control" formControlName="downAmt">
            <span class="text-danger"
            *ngIf="MortgageFrom.get('downAmt').touched  && MortgageFrom.get('downAmt').errors?.required">
            Enter Down Pay Amount
        </span>
        <span class="text-danger"
        *ngIf="MortgageFrom.get('downAmt').errors?.pattern">
        Enter valid Down Pay Amount ( numbers only)
      </span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="apr">Interest Rate (%)</label>
          <div class="col-sm-8">
            <input id="apr" type="text" class="form-control" formControlName="apr">
            <span class="text-danger"
            *ngIf="MortgageFrom.get('apr').touched  && MortgageFrom.get('downAmt').errors?.required">
            Enter Interest Rate
        </span>
        <span class="text-danger"
        *ngIf="MortgageFrom.get('apr').errors?.pattern">
        Enter valid Interest Rate ( numbers only)
    </span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="period">Mortgage Period (years)</label>
          <div class="col-sm-8">
            <input id="period" type="text" class="form-control" formControlName="period">
            <span class="text-danger"
            *ngIf="MortgageFrom.get('period').touched  && MortgageFrom.get('period').errors?.required">
            Enter Mortgae period
        </span>
        <span class="text-danger"
        *ngIf="MortgageFrom.get('period').errors?.pattern">
        Enter valid Mortgage period ( numbers only)
    </span>

          </div>
        </div> 
      </div>
    
  </div>
  <div class= "card-footer">
    <button class="btn btn-primary" type="submit" [disabled] = "!MortgageFrom.valid">Calculate</button>
  </div>
</form>

</div>
<div class="container card">
  <div class="card-body">
    Monthly Mortgage Payment : {{ MonthlyMortgage }}
  </div>
</div>
<router-outlet></router-outlet>
<!-- https://stackblitz.com/edit/angular-8-reactive-form-validation?file=app%2Fapp.component.ts -->